.main {
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 18, 36, 1);
  color: #fafafa;
}

.header{
  width: auto;
  height: 7rem;
  background-color: rgba(2, 4, 21, 0.81);
  display: flex;
  align-items: center;
  flex-direction: row;
  line-height: 2;
  font-size: 0.8rem;
  text-align: inherit;
}

.title {
  padding-left: 6%;
}

.description {
  display: flex;
  flex-direction: row;
  margin: 65rem;
}

.descriptionHome{
  top: 10px;
  display: flex;
  justify-content: space-around;
  width: 15rem;
}

.descriptionLinks{
  top: 10px;
  display: flex;
  justify-content: space-around;  
  width: 10rem;
}

.body{
  padding-left: 6%;
  padding-top: 13%;
  padding-bottom: 13%;
  display: flex;
  flex-direction: row;
  height: 42rem;
}

.txt{
  padding-right: 20%;
  text-align: justify;
}

.img{
  padding-right: 6%;
}


.footer {
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(149, 158, 237, 0.52);
}

.footer a {
  justify-content: center;
  align-items: center;
}

@media (max-width: 1730px){
  .description{
    margin: 50%;
  }
}

@media (max-width: 1410px){
  .header{
    font-size: 0.7rem;
  }
}

@media (max-width: 890px) {
   .header{
     height: 6rem;
     font-size: 0.5rem;
   }
}