.main {
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 18, 36, 1);
  color: #fafafa;
}

.header{
  width: auto;
  height: 10%;
  background-color: rgba(2, 4, 21, 0.81);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 2;
  font-size: 1rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  text-align: inherit;
  margin: 0;
  padding-left: 6%;
  padding-right: 30%;
}

.description {
  text-align: inherit;
  margin: 0;
  padding-left: 3%;
}

.body{
  display: flex;
  flex-direction: row;
  flex-wrap: wra;
  padding-left: 6%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.text{
padding-right: 60%;
}