.main {
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 18, 36, 1);
  color: #fafafa;
}

.header{
  width: auto;
  height: 7rem;
  background-color: rgba(2, 4, 21, 0.81);
  display: flex;
  align-items: center;
  flex-direction: row;
  line-height: 2;
  font-size: 0.8rem;
  text-align: inherit;
}

.title {
  padding-left: 6%;
}

.description {
  display: flex;
  flex-direction: row;
  margin-left: 58rem;
}

.descriptionHome{
  top: 10px;
  display: flex;
  justify-content: space-around;
  width: 18rem;
}

.descriptionLinks{
  top: 10px;
  display: flex;
  justify-content: space-around;  
  width: 10rem;
  margin-right: 18px;
}

.body{
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  height: 42rem;
}

.txt{
  margin-left: 6%;
  margin-top: 10%;
  /* text-align: left */
  width: 800px;
}

.img{
  margin-top: 8%;
  /* margin-bottom: 13%; */
  margin-left: 27%;
}

.PrTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.objs{
  display: flex;
  flex-direction: row;
  padding-left: 6%;
}

.circles{
  height: 400px;
  width: 400px;
  background-color: #9D9D9D;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 120px;
  padding-top: 50px;
  text-align: center;
}

.text{
  margin-top: 180px;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(149, 158, 237, 0.52);
}

.footer a {
  align-items: center;
}

@media(max-width: 1820px){
  .description{
    margin-left: 50rem;
  }

  .img{
    margin-left: 18%;
  }
}

@media(max-width: 1611px){
  .description{
    margin-left: 40rem;
  }

  .img{
    margin-left: 12%;
  }

  .circles{
    margin-left: 60px;
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 1440px){
  .header{
    font-size: 0.7rem;
  }

  .description{
    margin-left: 27rem;
  }

  .txt{
    width: 750px;
  }

  .img{
    margin-left: 5%;
  }
  
}

@media (max-width: 1260px){
  .description{
    margin-left: 20rem;
  }

  .txt{
    width: 600px;
  }
}

@media (max-width: 1008px){

  .body{
    height: 50rem;
  }

  .title{
    display: none;
  }

  .description{
    margin-left: 230px; 
  }

  .body{
    flex-flow: column;
  }

  .txt{
    margin-left: 60px;
    width: 900px;
  }

  .img{
    margin-left: 300px;
  }

}

@media (max-width: 890px) {
   .header{
     height: 6rem;
     font-size: 0.5rem;
   }
   
   .description{
     margin-left: 200px;
   }

   .txt{
     width: 800px;
   }

   .img{
     margin-left: 250px;
   }

   .description{
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px){
  .main{
    width: 500px;

  }
}